<?xml version="1.0" ?>

<robot name="ROBOT_NAME" xmlns:xacro="http://ros.org/wiki/xacro">
    <!-- Uncomment to disable the physics engine! -->
    <!-- <gazebo>
        <static>true</static>
    </gazebo> -->

    <!-- <link name="base_footprint"/>

    <joint name="base_joint" type="fixed">
        <parent link="base_footprint"/>
        <child link="mobile_base_link" />
        <origin xyz="-100E-03 0E-03 200E-03" rpy="1.571 1.571 0"/>
    </joint> -->

    <!-- ADD LINK AND JOINTS HERE -->
    <link name="shoulder0">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <!-- ADD VISUAL GEOMETRY HERE -->
                <mesh filename="$(find gh360)/meshes/360_shoulder_0.stl" />
            </geometry>
        </visual>
    </link>

    <joint type="revolute" name="shoulder_yaw">
        <origin xyz="0 284E-03 176E-03" rpy="0.0 0.0 0.0"/>
        <child link="shoulder1"/>
        <parent link="shoulder0"/>
        <axis xyz="0 1 0" rpy="0 0 0"/>
        <limit effort="100" velocity="100" lower="-${pi/2}" upper="${pi/2}"/>
        <dynamics damping="0.7" friction="1.0"/>
    </joint>

    <link name="shoulder1">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0"/>
            <geometry>
                <!-- ADD VISUAL GEOMETRY HERE -->
                <mesh filename="$(find gh360)/meshes/360_shoulder_1.stl" />
            </geometry>
        </visual>
    </link>


</robot>
